:root {
	font-size: 62.5%;
}

* {
	margin: 0.5rem;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
	box-sizing: border-box;
}

body {
	background-color: #212121;
	color: #ffffff;
}

.bg {
	height: 50vh;
	width: 100%;
	background-image: url("https://images.unsplash.com/photo-1689005046852-f2b6520884eb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2970&q=80");
	background-size: cover;
	background-attachment: fixed;
}

h1 {
	padding: 7vh 0 0 0;
	font-size: 2.8rem;
	text-align: center;
	font-weight: 900;
}

h3 {
	padding: 7vh 0 2vh 0;
	font-size: 2rem;
}

p {
	margin: 7rem 0 7rem;
}

table,
th,
td {
	font-size: 1.7rem;
	border-collapse: collapse;
	border: 1px solid #000000;
}

th,
td {
	padding: 2vh 5vh;
}

/* pseudolementos */
table tr:first-child {
	background: #0066ba;
	color: #ffffff;
}

table tr:nth-child(2n + 3) {
	background-color: #4e4e4e;
}

ul {
	padding-left: 2.4rem;
	list-style: square;
}

ol {
	padding-left: 2.4rem;
	list-style: upper-roman;
}

.blockimg {
	margin: 7rem 0 7rem;
}

#block {
	height: 20rem;
	width: 20rem;
	border: 4px solid #4682b4;
	background-color: #aaaaaa;
	display: inline-block;
}

#img {
	height: 20rem;
}

/*
    Conteúdo da aula:
    tabelas: 
        border-collapse,
        border, 
        :first-child -> pseudoelemento que estiliza o elemento 0
        :nth-child() -> pseudoelemento que estiliza elementos alternados
    
    listas ol e ul:
        marcadores com list-style

    propriedades da regra display: (alteram a forma que o elemento é posicionado no documento)
        block (bloco inteiro do documento, não ignora proporções)
        inline (visível em linha, ignora proporções)
        inline-block (visível em linha, mas em bloco, mantém proporção)
        none (invisível)

    box model:
        margin é o espaço entre elementos externos, vem de margem, fora
        padding é o espaço entre elementos internos

        propriedade border-box na regra box-sizing no seletor * {} altera a forma como o CSS lida com medidas, incluindo as bordas nas medições e tornando a estilização mais precisa
*/
